@{
    ViewData["Title"] = "Polityka prywatności";
}

<h2>@ViewData["Title"]</h2>

<p>
    To jest strona z polityką prywatności Twojej aplikacji.
    Tutaj powinieneś umieścić informacje o tym, jakie dane zbierasz, jak je przetwarzasz i chronisz, itp.
</p>